body {
	font-family: 'Noto Serif', serif;
}

a {
	text-decoration: none;
}

.btn {
	width: 8rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
	border-radius: 20px;
	background-color: #59E807;
	color: #000;
	font-size: 24px;
	font-weight: 700;
	cursor: pointer;
	box-shadow: 0 5px 5px #000;
	transition: .1s;
	margin: 0 auto;
}

.btn:active {
	box-shadow: 0 2px 2px #000;
	margin-top: 3px;
}

.btn:hover {
	background-color: #69F817
}
