body {
	font-family: 'Noto Serif', serif;
	word-break: keep-all;
  padding-top: 80px;
  padding-bottom: 80px;
}

.btn {
	margin: 0 auto;
	margin-bottom: 30px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.4;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	user-select: none;
	transition: .1s;
}

.btn-gray {
	max-width: 250px;
	height: 50px;
	background-color: #F2F4F6;
	box-shadow: 0 5px 5px #DFE1E2;
	color: #444;
}

.btn-gray:active {
	box-shadow: 0 4px 0 #DFE1E2;
	transform: translateY(10px);
}

.btn-orange {
	max-width: 500px;
	height: 70px;
	background-color: #FFA32D;
	box-shadow: 0 5px 5px #000;
	color: #FFF;
}

.btn-orange:active {
	box-shadow: 0 4px 0 #E66000;
	transform: translateY(10px);
}

.btn-orange2 {
	max-width: 500px;
	height: 70px;
	background-color: #FCBF6F;
	box-shadow: 0 5px 5px #000;
	color: #FFF;
}

.btn-orange2:active {
	box-shadow: 0 4px 0 #E66000;
	transform: translateY(10px);
}

.btn-green {
	max-width: 500px;
	height: 70px;
	background-color: #91FFE7;
	box-shadow: 0 5px 5px #000;
	color: #FFF;
}

.btn-green:active {
	box-shadow: 0 4px 0 #299A82;
	transform: translateY(10px);
}

.btn-green2 {
	max-width: 500px;
	height: 70px;
	background-color: #32BFA1;
	box-shadow: 0 5px 5px #000;
	color: #FFF;
}

.btn-green2:active {
	box-shadow: 0 4px 0 #299A82;
	transform: translateY(10px);
}

dialog {
	font-size: 24px;
	border: 0;
	border-radius: 10px;
}

dialog button {
	margin: 0 auto;
	margin-top: 30px;
	border: 1px solid #000;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	cursor: pointer;
	box-shadow: 0 4px 0 #DFE1E2;
	background-color: #F2F4F6;
	transition: 0.1s;
}

dialog button:hover {
	background-color: #C4C4C4;
}

dialog button:active {
	transform: translateY(3px);
}
