body {
	background-image: url("../images/questions_bg.jpg");
	background-position: top center;
	background-repeat: no-repat;
}

#userName {
	max-width: 300px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}

.progress {
	max-width: 550px;
	height: 20px;
	margin: 0 auto;
	margin-bottom: 60px;
	border: 1px solid #E3E3E3;
	border-radius: 10px;
	background-color: #FFF;
}

.progress > .value {
	width: 10%;
	height: 20px;
	background-color: #FFB103;
	border-radius: 10px;
	transition: .2s;
}

.question-box {
	max-width: 420px;
	margin: 0 auto;
	padding: 40px 60px;
	border-radius: 20px;
	box-shadow: 0 4px 25px #DDE2E8;
	background-color: #FFF;
}

.question-box > .number {
	margin-bottom: 30px;
	font-weight: 900;
	font-size: 30px;
	text-align: center;
	color: #2EC7A6;
}

.question-box > .question {
	height: 60px;
	margin-bottom: 40px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	word-wrap: break-word;
}

.question-box > .choice {
	border-radius: 120px;
	font-size: 17px;
}
